<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>Match Play</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat/main.css}">
</head>
<body>
    <div layout:fragment="content">
        <div>
            <div>
                <input name="memName" id="memName" type="text" placeholder="이름 입력" required>
                <button class="btn btn-outline-secondary" type="button" id="searchUser">
                    검색
                </button>
            </div>

            <ul id="memberList">
                <li class="member"
                    th:each="info : ${infoList}"
                    th:data-id="${info.memId}"
                    th:data-name="${info.memName}"
                    th:data-grade="${info.grade}"
                    th:data-tel="${info.memTel}"
                    th:data-status="${info.status}"
                    th:text="${info.memName} + ' (' + ${info.status} + ')'">
                </li>
            </ul>
        </div>

        <script type="text/javascript" th:src="@{/js/chat/main.js}"></script>
    </div>
</body>
</html>