<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>메인</title>
</head>
<body>
    <div layout:fragment="content">
        <div sec:authorize="!isAuthenticated()">
            <h1>로그인 이전</h1>
            <p>홍보 포스터? 머이런거</p>
        </div>
        <div sec:authorize="isAuthenticated()">
            <p>main</p>
            <p>login complete!</p>
            <th:block sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <a>관리자님 환영합니다</a>
            </th:block>
            <th:block sec:authorize="hasAnyAuthority('ROLE_USER')">
                <a>사용자님 환영합니다</a>
            </th:block>
            <p>오늘 회원들 출석현황</p>
            <p>코트 이용현황</p>
            <div th:if="${att}">
                <button id="attendCancelButton" type="button" class="btn btn-primary btn-sm">출석 취소</button>
            </div>
            <div th:unless="${att}">
                <button id="attendButton" type="button" class="btn btn-primary btn-sm">출석 하기</button>
            </div>

        </div>
        <script type="text/javascript" th:src="@{/js/common/main.js}"></script>
    </div>

</body>
</html>