<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>Match Play</title>
</head>
<body>
    <div layout:fragment="content">
        <div sec:authorize="!isAuthenticated()">
            <h1 align="center">🏸 OO클럽에 오신걸 환영합니다. 🏸</h1>
            <p>홍보 포스터? 머이런거</p>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div>
                <p>금일 출석 목록 : <span th:text="${att_size}"></span>/<span th:text="${mem_size}"></span>명</p>
                <div class="d-flex flex-wrap justify-content-start">
                    <div th:each="att : ${all_att}"
                         class="text-center border rounded p-2 m-1"
                         style="width: 90px;">
                        <span th:text="${att}"></span>
                    </div>
                </div>
            </div>
            <br>
            <p>코트 이용현황</p>
            <div th:if="${att}">
                <button id="attendCancelButton" type="button" class="btn btn-primary btn-sm">출석 취소</button>
            </div>
            <div th:unless="${att}">
                <button id="attendButton" type="button" class="btn btn-primary btn-sm">출석 하기</button>
            </div>
            <button onclick="console.log(stomp.connected ? '연결됨 ✅' : '끊김 ❌')">소켓 상태 확인</button>

        </div>
        <div sec:authorize="isAuthenticated()">
            <script th:inline="javascript">
                // 서버가 내려준 출석 여부(Boolean)
                const isAttended = /*[[${att}]]*/ false;   // 비로그인/널이면 false
                if (isAttended) {
                  // 출석 상태면: 플래그 ON + 연결 시도
                  window.attendanceOn();   // set attendance=true + connectWS()
                } else {
                  // 미출석/출석취소면: 플래그 OFF + 연결 차단
                  window.attendanceOff();  // set attendance=false + disconnectWS()
                }
            </script>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
        <script type="text/javascript" th:src="@{/js/common/main.js}"></script>
    </div>

</body>
</html>