<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>Match Play</title>
</head>
<body>
    <div layout:fragment="content">
        <div sec:authorize="!isAuthenticated()">
            <h1 align="center">🏸 OO클럽에 오신걸 환영합니다. 🏸</h1>
            <p>홍보 포스터? 머이런거</p>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div>
                <p>금일 출석 목록 : <span th:text="${att_size}"></span>/<span th:text="${mem_size}"></span>명</p>
                <div class="d-flex flex-wrap justify-content-start">
                    <div th:each="att : ${all_att}"
                         class="text-center border rounded p-2 m-1"
                         style="width: 90px;">
                        <span th:text="${att}"></span>
                    </div>
                </div>
            </div>
            <br>
            <p>코트 이용현황</p>
            <div th:if="${att}">
                <button id="attendCancelButton" type="button" class="btn btn-primary btn-sm">출석 취소</button>
            </div>
            <div th:unless="${att}">
                <button id="attendButton" type="button" class="btn btn-primary btn-sm">출석 하기</button>
            </div>

        </div>
        <script type="text/javascript" th:src="@{/js/common/main.js}"></script>
    </div>

</body>
</html>