<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>Match Play</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container mt-4" style="max-width: 500px;">
            <h5 class="mb-3 text-center">변경할 비밀번호를 입력해 주세요.</h5>
            <h5 class="mb-3 text-center">비밀번호는 특수문자와 숫자를 포함해야합니다.</h5>
            <form th:action="@{/mypage/changepw}" method="post">

                <!-- 새 비밀번호 입력 -->
                <div class="mb-3">
                    <label for="memPw" class="form-label">새 비밀번호</label>
                    <div class="input-group">
                        <input name="memPw" id="memPw" type="password" class="form-control" placeholder="비밀번호 입력" required>
                        <button class="btn btn-outline-secondary" type="button" id="togglePasswordChange">
                            <i class="fa-solid fa-eye" id="eyeIcon"></i>
                        </button>
                    </div>
                </div>

                <!-- 비밀번호 확인 입력 -->
                <div class="mb-3">
                    <label for="checkPw" class="form-label">비밀번호 확인</label>
                    <div class="input-group">
                        <input name="checkPw" id="checkPw" type="password" class="form-control" placeholder="비밀번호 확인" required>
                        <button class="btn btn-outline-secondary" type="button" id="RtogglePasswordChange">
                            <i class="fa-solid fa-eye" id="ReyeIcon"></i>
                        </button>
                    </div>
                </div>

                <!-- 제출 버튼 -->
                <div class="text-center">
                    <button type="submit" id="changepw" class="btn btn-primary">확인</button>
                    <a th:href="@{/mypage/mainpage}" class="btn btn-secondary">취소</a>
                </div>
            </form>
        </div>
        <script type="text/javascript" th:src="@{/js/mypage/changePw.js}"></script>
    </div>
</body>
</html>