<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <title>Match Play</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/match/MatchMain.css}">
</head>
<body>
    <div layout:fragment="content">
        <div class="container mt-4">
            <div class="row text-center">

                <!-- 경기장 1 -->
                <div class="col-md-4 border p-3">
                    <div class="p-3 bg-light border rounded">🏸 코트 1</div>
                    <div class="court-box">
                        <div class="court-line">
                            <div class="score score-left">5</div>  <!-- 왼쪽 점수 -->
                            <div class="player-names">
                                <div class="team team-left">
                                    <span>짱구</span>
                                    <span>맹구</span>
                                </div>
                                <div class="team team-right">
                                    <span>철수</span>
                                    <span>훈이</span>
                                </div>
                            </div>
                            <div class="score score-right">5</div> <!-- 오른쪽 점수 -->
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary ms-2 mt-3" id="showQueue1">대기열 보기</button>
                    <button type="button" class="btn btn-sm btn-secondary ms-2 mt-3" id="openJoinQueue1">대기열 참가하기</button>
                </div>

                <!-- 대기열 모달: 코트 1 -->
                <div class="modal fade" id="queueModal1" tabindex="-1" aria-labelledby="queueModalLabel1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="queueModalLabel1">🏸 코트 1 대기열</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="queueContent1">
                                <!-- js에서 동적 적용 -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--대기열 등록 모달-->
                <div class="modal fade" id="joinQueueModal1" tabindex="-1" aria-labelledby="joinQueueModalLabel1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="joinQueueModalLabel1">대기열 참가 멤버 선택</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="attMemListContent1"></div> <!-- 출석 멤버 리스트 -->
                            </div>
                            <div class="modal-footer">
                                <button id="joinQueueBtn1" class="btn btn-sm btn-success" disabled>대기열 등록</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 경기장 2 -->
                <div class="col-md-4 border p-3">
                    <div class="p-3 bg-light border rounded">🏸 코트 2</div>
                    <div class="court-box">
                        <div class="court-line">
                            <div class="score score-left">5</div>  <!-- 왼쪽 점수 -->
                            <div class="player-names">
                                <div class="team team-left">
                                    <span>짱구</span>
                                    <span>맹구</span>
                                </div>
                                <div class="team team-right">
                                    <span>철수</span>
                                    <span>훈이</span>
                                </div>
                            </div>
                            <div class="score score-right">5</div> <!-- 오른쪽 점수 -->
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary ms-2 mt-3" id="showQueue2">대기열 보기</button>
                    <button type="button" class="btn btn-sm btn-secondary ms-2 mt-3" id="openJoinQueue2">대기열 참가하기</button>
                </div>

                <!-- 대기열 모달: 코트 2 -->
                <div class="modal fade" id="queueModal2" tabindex="-1" aria-labelledby="queueModalLabel2" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="queueModalLabel2">🏸 코트 2 대기열</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="queueContent2">
                                <!-- js에서 동적 적용 -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 대기열 등록 모달 -->
                <div class="modal fade" id="joinQueueModal2" tabindex="-1" aria-labelledby="joinQueueModalLabel2" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="joinQueueModalLabel2">대기열 참가 멤버 선택</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="attMemListContent2"></div> <!-- 출석 멤버 리스트 -->
                            </div>
                            <div class="modal-footer">
                                <button id="joinQueueBtn2" class="btn btn-sm btn-success" disabled>대기열 등록</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 경기장 3 -->
                <div class="col-md-4 border p-3">
                    <div class="p-3 bg-light border rounded">🏸 코트 3</div>
                    <div class="court-box">
                        <div class="court-line">
                            <div class="score score-left">5</div>  <!-- 왼쪽 점수 -->
                            <div class="player-names">
                                <div class="team team-left">
                                    <span>짱구</span>
                                    <span>맹구</span>
                                </div>
                                <div class="team team-right">
                                    <span>철수</span>
                                    <span>훈이</span>
                                </div>
                            </div>
                            <div class="score score-right">5</div> <!-- 오른쪽 점수 -->
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary ms-2 mt-3" id="showQueue3">대기열 보기</button>
                    <button type="button" class="btn btn-sm btn-secondary ms-2 mt-3" id="openJoinQueue3">대기열 참가하기</button>
                </div>

                <!-- 대기열 모달: 코트 3 -->
                <div class="modal fade" id="queueModal3" tabindex="-1" aria-labelledby="queueModalLabel3" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="queueModalLabel3">🏸 코트 3 대기열</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="queueContent3">
                                <!-- js에서 동적 적용 -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 대기열 등록 모달 -->
                <div class="modal fade" id="joinQueueModal3" tabindex="-1" aria-labelledby="joinQueueModalLabel3" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="joinQueueModalLabel3">대기열 참가 멤버 선택</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="attMemListContent3"></div> <!-- 출석 멤버 리스트 -->
                            </div>
                            <div class="modal-footer">
                                <button id="joinQueueBtn3" class="btn btn-sm btn-success" disabled>대기열 등록</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/js/match/MatchMain.js}"></script>
    </div>
</body>
</html>